body{
    font-family: cursive;
    font-weight: bolder;
    background-color: purple;
}
h1{
    font-size: 65px;
    text-align: center;
    text-shadow: 0em 0em 1em black;
}
h2{
    font-size: 50px;
    text-align: center;
    text-shadow: 0em 0em 1em blue;
}
h3{
    font-size: 45px;
    text-align: center;
    text-shadow: 0em 0em 1em blue;
}
h4{
    font-size: 40px;
    text-shadow: 0em 0em 1em blue;
}
p{
    font-size: 1.8em;
    padding: .2em .5em;
}
#encabezado {
    color: white;
    text-align: center;
}
.contenido{
    background-color: violet;
    color: darkmagenta;
}
.piedepág{
    background-color: violet;
    color: purple;
    text-align: center;
}
.barradenav{
    background-color: white;
    color: darkmagenta;
    text-align: right;
}
.atención{
    border: 4px solid darkmagenta;
    width: 60vw;
    height: auto;
    margin: 1.5em 20%;
    padding: 1em;
    border-radius: 20px 95px;
    font-size: 1.5em;
}
span{
    background-color: purple;
    color: white;
    font-style: italic; 
}
a:hover{
    background-color: purple;
    color: black;
}
a:visited{
    background-color: pink;
    color: blue;
}
.imagen1{
    float: left;
    width: 350px;
    height: 250px;
}
.imagen2{
    float: right;
    width: 400px;
    height: 300px;
}
a{
    font-size: 1.5em;
    padding: .5em 1em;
}
