body{
    color: rgb(173, 6, 6); 
    background-color: yellow;
    font-style: italic;
    font-weight: 900; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.encabezado{
    text-align: center;
    text-shadow: 0em 0em .5em orangered;
}
.img{
    float: left;
    width: 350px;
    height: 250px;
    margin: .5em .5em;
}
h1{
    font-size: 65px;
}
h2{
    font-size: 55px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 35px;
    text-shadow: 0em 0em .5em orangered;
}
h5{
    font-size: 30px;
}
p{
    font-size: 20px;
    padding: 0em .5em;
}
.fondocafé{
    background-color: brown;
    color: yellow;
}
#PieDePágina{
    border-left:20px groove hsl(16, 100%, 50%);
    margin: 100px;
    padding: 20px;
}
span{
    background-color: orangered;
    color: yellow;
}
ul{
    list-style-type: circle;
}
a:link{
    background-color: orangered;
    font-size: medium;
    padding: 10px 20px;
}
a:visited{
    background-color: red;
    color: yellow;
}
a:hover{
    background-color: rgb(255, 165, 0);
    color: black;
    font-weight: 200;
}
a:active{
    background-color: yellow;
    color: red;
}
#biografías{
    border: 5px ridge brown;
    margin: 30px;
    border-radius: 15px 25px;
    box-shadow: 15px 15px 15px hsl(16, 100%, 50%);
    height: 1200px;
}
.pintora{
    display: inline-block;
    height: 100%;
    width: 24.4%;
    vertical-align: top;
}
#pint1{
    border-right: 2px solid brown;
}
#pint2{
    border-right: 2px solid brown;
    border-left: 2px solid brown;
}
#pint3{
    border-left: 2px solid brown;
    border-right: 2px solid brown;
}
#pint4{
    border-left: 2px solid brown;
}
.imagen{
    width: 95%;
    height: 200px;
    display: block;
    margin: auto;
}